.Chunk {
  --line-horisontal-padding: 4px;
  position: relative;
  line-height: 1.4;

  .Line {
    padding-left: var(--line-horisontal-padding);
    padding-right: var(--line-horisontal-padding);
  }

  &.Chunk--editMode .InlineSection .Line:nth-child(odd) {
    background-color: #f6f6f6;
  }
}

.Chunk__textarea, .Chunk__overlay {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.Chunk__textarea {
  width: 100%;
  min-height: 100%;
  /*height: 100%;*/
  resize: none;
  overflow: hidden;
  /*color: transparent;*/
  /*color: violet;*/
  display: block;
  /*background: transparent;*/
  /*caret-color: grey;*/
  outline: none;
  /*padding-left: var(--line-horisontal-padding);*/
  /*padding-right: var(--line-horisontal-padding);*/
}

.Chunk__textarea:focus {
  /*outline-style: solid;*/
  /*outline-width: 1px;*/
  /*outline-color: orange;*/
  /*outline: none;*/
  /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);*/
}

.Chunk__overlay {
  top: 0;
  left: 0;
  right: 0;
}
